#header {
    background-image: url("/images/orange-sky.png");
    background-size: cover;
}

#header nav, #header .header-info, #header .title, #header a {
    color: #fff;
}

.header-info .title {
    margin-bottom: 0;
    text-transform: none;
}

#header h1.site-title {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

p.site-description {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
}

.header-info .subtitle, .header-info .taxonomy-type {
    font-style: normal;
}

.list-item .meta span > time {
    color: #777;
}

#main {
    margin-top: 2em;
    min-height: 50vh;
}

.entry .meta span, .entry .meta span a {
    font-style: normal;
    color: #777;
}

footer.entry-footer-container {
    display: none;
}

#footer {
    margin-top: 2em;
    background-color: #eee;
}

#footer, footer a {
    color: #777;
}
